<nav class="menu kantumruy-pro bg-orange-50 flex justify-between items-center p-4">
  <!-- Logo -->
  <div>
    <img src="kxx.png" alt="Logo" class="mr-4 w-30 h-10" />
  </div>

  <!-- Navigaton -->
  <ul class="flex gap-x-8 flex-grow justify-center">
    <li><a href="#" class="hover:text-orange-600">Inicio</a></li>
    <li><a href="#" class="hover:text-orange-600">Sobre nosotros</a></li>
    <li><a href="#" class="hover:text-orange-600">Contacto</a></li>
  </ul>

  <!-- Search -->
  <div>
    <input
      type="text"
      placeholder="Buscar..."
      class="p-2 pl-10 rounded-full border-2 border-gray-300"
    />
  </div>

  <!-- Login icon -->
  <div class="ml-10">
    <a [routerLink]="['/login']" >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
      <path fill-rule="evenodd" d="M7.5 3.75A1.5 1.5 0 0 0 6 5.25v13.5a1.5 1.5 0 0 0 1.5 1.5h6a1.5 1.5 0 0 0 1.5-1.5V15a.75.75 0 0 1 1.5 0v3.75a3 3 0 0 1-3 3h-6a3 3 0 0 1-3-3V5.25a3 3 0 0 1 3-3h6a3 3 0 0 1 3 3V9A.75.75 0 0 1 15 9V5.25a1.5 1.5 0 0 0-1.5-1.5h-6Zm10.72 4.72a.75.75 0 0 1 1.06 0l3 3a.75.75 0 0 1 0 1.06l-3 3a.75.75 0 1 1-1.06-1.06l1.72-1.72H9a.75.75 0 0 1 0-1.5h10.94l-1.72-1.72a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
    </svg>   
    </a> 
  </div>
</nav>