<nav class="menu bg-orange-50 flex justify-between p-4">
    <div>
        <img src="ruta-del-logo.png" alt="Logo" class="h-8 mr-4"> <!-- Ajusta la ruta y el tamaño del logo -->
    </div>
    <ul class="flex gap-x-8">
      <li><a href="#" class="hover:text-orange-600">Inicio</a></li>
      <li><a href="#" class="hover:text-orange-600">Sobre nosotros</a></li>
      <li><a href="#" class="hover:text-orange-600">Contacto</a></li>
    </ul>   
    <div>
        <p>search</p>
    </div>
  </nav>
  