<div class="login-container max-w-md mx-auto my-30 p-4 bg-white shadow-xl rounded-lg">
    <h2 class="text-center text-2xl font-bold mb-4">Nuevo Producto</h2>
    <form [formGroup]="createProductForm">
      <!-- Name Field -->
      <div class="mb-4">
        <label for="name" class="block text-sm font-medium text-gray-700">Nombre</label>
        <input
          type="text"
          id="name"
          class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
          formControlName="name"
          required
        />
        <div class="text-red-500 text-sm" *ngIf="createProductForm.get('name')?.invalid && createProductForm.get('name')?.touched">
          Nombre es obligatorio.
        </div>
      </div>
  
      <!-- Color Field -->
      <div class="mb-4">
        <label for="color" class="block text-sm font-medium text-gray-700">Color</label>
        <input
          type="text"
          id="color"
          class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
          formControlName="color"
          required
        />
      </div>
  
      <!-- Price Field -->
      <div class="mb-4">
        <label for="price" class="block text-sm font-medium text-gray-700">Precio</label>
        <input
          type="number"
          id="price"
          class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
          formControlName="price"
          required
        />
      </div>
  
      <!-- Size Field -->
      <div class="mb-4">
        <label for="size" class="block text-sm font-medium text-gray-700">Tamaño</label>
        <input
          type="text"
          id="size"
          class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
          formControlName="size"
          required
        />
      </div>
  
      <!-- Description Field -->
      <div class="mb-4">
        <label for="description" class="block text-sm font-medium text-gray-700">Descripción</label>
        <textarea
          id="description"
          class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
          formControlName="description"
          required
        ></textarea>
      </div>
  
      <!-- Is Featured Field -->
      <div class="mb-4 flex items-center">
        <input type="checkbox" id="isFeatured" formControlName="isFeatured" class="mr-2" />
        <label for="isFeatured" class="text-sm font-medium text-gray-700">Destacado</label>
      </div>
  
      <!-- Image URL Field -->
      <div class="mb-6">
        <label for="imageURL" class="block text-sm font-medium text-gray-700">URL de la Imagen</label>
        <input
          type="text"
          id="imageURL"
          class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
          formControlName="imageURL"
        />
      </div>
  
      <!-- Submit Button -->
      <div class="flex justify-center items-center">
        <button
          type="submit"
          class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
          [disabled]="submitted || createProductForm.invalid"
          (click)="onSubmit()"
        >
          <span *ngIf="!submitted">CREAR PRODUCTO</span>
          <span *ngIf="submitted">CARGANDO...</span>
          <span *ngIf="submitted" class="flex justify-center items-center my-1">
            <svg class="w-5 h-5 ml-2 animate-spin" viewBox="0 0 24 24" fill="none">
              <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path fill="currentColor" d="M4 12a8 8 0 018-8"></path>
            </svg>
          </span>
        </button>
      </div>
      <div class="mr-5">
        <a [routerLink]="['/']">
          <button
            class="bg-amber-100 hover:bg-amber-200 text-black font-bold py-1 px-3 shadow-lg text-sm w-15"
          >
            Atrás
            <div class="ml-1.5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-6"
              >
                <path
                  fill-rule="evenodd"
                  d="M9.53 2.47a.75.75 0 0 1 0 1.06L4.81 8.25H15a6.75 6.75 0 0 1 0 13.5h-3a.75.75 0 0 1 0-1.5h3a5.25 5.25 0 1 0 0-10.5H4.81l4.72 4.72a.75.75 0 1 1-1.06 1.06l-6-6a.75.75 0 0 1 0-1.06l6-6a.75.75 0 0 1 1.06 0Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
          </button>
        </a>
      </div>
    </form>
  </div>
  